body {
    margin: 0;
    background-color: #2c2c2d;
}

.navigation {
    background-color: #333;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    width: 100%;
}

.navigation a {
    float: right;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.navigation h1 {
    font-size: 20px;
    float: left;
    font-weight: normal;
    padding: 10px;
    padding-left: 50px;
    font-family: sans-serif;
    color: #fff;
}

.mainsection h3 {
    font-family: sans-serif;
    color: #fff;
}

.time {
    color: #fff;
    padding-left: 47%;
    font-size: 20px;
}

.pictures {
    display: none;
}

.caption {
    color: #f2f2f2;
    font-size: 40px;
    position: absolute;
    bottom: 300px;
    width: 60%;
    height: 60px;
    padding-top: 25px;
    padding-bottom: 10px;
    left: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}


.fade {
    animation-name: fade;
    animation-duration: 5s;
}


@keyframes fade {
    from {
        opacity: .9
    }
    to {
        opacity: 1
    }
}

.mainsection h2 {
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
}

.mainsection p {
    text-align: center;
    width: 500px;
    margin-left: auto;
    color: #fff;
    margin-right: auto;
    font-size: 18px;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 17px;
    font-family: sans-serif;
    padding-top: 5px;
    background-color: #333;
    color: white;
    text-align: center;
    clear: both;
}


.rollover {
    margin: 0 auto;
    display: block;
}


.container img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.container p {
    text-align: center;
}

.pizzabase {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    width: 33%;
    margin: 0 auto;
    float: left;
}

#base_error {
    color: red;
}

#topping_error {
    color: red;
}

#post_error {
    color: red;
}

#address_error {
    color: red;
}

.toppings {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    width: 33%;
    float: left;
    margin: 0 auto;
}

.extras {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    float: left;
    width: 33%;
    margin: 0 auto;

}

.address {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    margin: 0 auto;
    border-top: 1px;
}

.orderform input[type=text] {
    width: 500px;
    margin: 8px 0;
}

.contactform {
    margin: 0 auto;
    padding-left: 50px;
    float: left;
}

.contactform label {
    color: white;
}

.contactform input[type=text] {
    width: 700px;
    margin: 8px 0;

}

.contactform input[type=number] {
    width: 700px;
    margin: 8px 0;

}

.contactform p {
    color: red;
}

.mainsection textarea {
    width: 700px;
    height: 100px;
    padding-bottom: 10px;
}

.map {
    float: right;
    padding-right: 50px;
}
